:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff; 
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 2rem;
}

.travel-card {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 1px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 700px;
  background-color: white;
}

.travel-card img {
  width: 250px;
  height: auto;
  margin-right: 1.5rem;
  object-fit: cover;
}

.travel-info {
  text-align: left;
  flex: 1;
  padding-bottom: 5rem;
}

.travel-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1.5rem;
  padding: 2rem 0;
}


.all-inclusive {
  color: green;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.labels {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.label {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.label-deal {
  background-color: green;
}

.label-premium {
  background-color: blue;
}

.label-inclusive {
  background-color: blue;
}
